.embed-responsive {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden; }
  .embed-responsive::before {
    display: block;
    content: ""; }
  .embed-responsive .embed-responsive-item,
  .embed-responsive iframe,
  .embed-responsive embed,
  .embed-responsive object,
  .embed-responsive video {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0; }

.embed-responsive-21by9::before {
  padding-top: 42.8571428571%; }

.embed-responsive-16by9::before {
  padding-top: 56.25%; }

.embed-responsive-4by3::before {
  padding-top: 75%; }

.embed-responsive-1by1::before {
  padding-top: 100%; }

.img-fluid {
  display: block;
  max-width: 100%;
  height: auto; }

.hide {
  display: none !important;
  visibility: hidden;
  opacity: 0;
  filter: alpha(opacity=0); }

/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block; }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block; }

/**
 * Add the correct display in IE.
 */
template {
  display: none; }

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none; }

.breadcrumb {
  padding: 0;
  font-size: 0;
  line-height: 0;
  list-style: none;
  margin: 0 0 20px 0; }
  .breadcrumb > li {
    font-size: 0.875rem;
    line-height: 20px;
    display: inline-block; }
    .breadcrumb > li:after {
      content: '>';
      padding: 0 5px; }
    .breadcrumb > li:last-child:after {
      display: none; }

.btn {
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  padding: 8px 20px;
  outline: none;
  user-select: none;
  text-align: center;
  white-space: nowrap;
  display: inline-block;
  vertical-align: middle;
  background-image: -webkit-linear-gradient(top, #f59028 0%, #cc5217 100%);
  background-image: -o-linear-gradient(top, #f59028 0%, #cc5217 100%);
  background-image: linear-gradient(to bottom, #f59028 0%, #cc5217 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF59028', endColorstr='#FFCC5217', GradientType=0);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s; }
  .btn:hover {
    color: #fff;
    background-image: -webkit-linear-gradient(top, #f59028 0%, #f59028 100%);
    background-image: -o-linear-gradient(top, #f59028 0%, #f59028 100%);
    background-image: linear-gradient(to bottom, #f59028 0%, #f59028 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF59028', endColorstr='#FFF59028', GradientType=0); }
  .btn:focus, .btn.focus {
    outline: 0; }

.table {
  width: 100%;
  margin-bottom: 15px;
  border-collapse: collapse; }
  .table tr:hover {
    background: #eee; }
  .table th {
    padding: 10px 8px;
    background: #eee;
    font-weight: 700;
    font-size: 0.75rem; }
  .table td {
    font-size: 0.75rem;
    padding: 10px 8px;
    border-bottom: solid 1px #ddd; }

@media (max-width: 575px) {
  .table-responsive {
    width: 100%;
    overflow-y: hidden;
    overflow-x: scroll;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    -ms-overflow-style: -ms-autohiding-scrollbar; }
    .table-responsive .table {
      margin-bottom: 0; } }
.form-control {
  margin: 0;
  width: 100%;
  color: #222;
  outline: none;
  line-height: 20px;
  padding: 7px 14px;
  background: #ffffff;
  display: inline-block;
  border: 1px solid #d9d9d9; }
  .form-control::-moz-placeholder {
    color: #222;
    opacity: 1; }
  .form-control:-ms-input-placeholder {
    color: #222; }
  .form-control::-webkit-input-placeholder {
    color: #222; }
  .form-control::-ms-clear {
    display: none;
    width: 0;
    height: 0; }
  .form-control:focus::-moz-placeholder {
    color: transparent;
    opacity: 1; }
  .form-control:focus:-ms-input-placeholder {
    color: transparent; }
  .form-control:focus::-webkit-input-placeholder {
    color: transparent; }
  .form-control.error {
    border-color: red; }

label {
  font-weight: 400;
  display: block; }

.form-label {
  font-weight: 400;
  margin-bottom: 5px; }

.form-group {
  margin-bottom: 10px; }

.form-row {
  margin: 0 -10px; }
  .form-row:before, .form-row:after {
    content: " ";
    display: table; }
  .form-row:after {
    clear: both; }
  .form-row .form-col {
    width: 50%;
    float: left;
    padding: 0 10px; }
  .form-row .form-col-2 {
    padding: 0 10px; }
  .form-row .form-col-3 {
    padding: 0 10px; }
  @media (min-width: 768px) {
    .form-row .form-col-2 {
      float: left;
      width: 50%; }
    .form-row .form-col-3 {
      float: left;
      width: 33.33%; } }

.myCheckbox {
  cursor: pointer;
  line-height: 20px;
  display: inline-block; }
  .myCheckbox__input {
    display: none; }
  .myCheckbox__label {
    padding-left: 22px;
    position: relative;
    line-height: 20px;
    display: inline-block; }
    .myCheckbox__label:before {
      top: 1px;
      left: 0;
      z-index: 1;
      content: '';
      width: 16px;
      height: 16px;
      position: absolute;
      border: 2px solid #48afe2;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      -ms-border-radius: 3px;
      border-radius: 3px; }
    .myCheckbox__label:after {
      top: 5px;
      left: 4px;
      z-index: 1;
      content: '';
      width: 8px;
      height: 8px;
      position: absolute;
      visibility: hidden;
      background: #48afe2;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      -ms-border-radius: 2px;
      border-radius: 2px;
      opacity: 0; }
  .myCheckbox .myCheckbox__input:checked + .myCheckbox__label::after {
    visibility: visible;
    opacity: 1; }

.myRadio {
  cursor: pointer;
  line-height: 20px;
  display: inline-block; }
  .myRadio__input {
    display: none; }
  .myRadio__label {
    padding-left: 22px;
    position: relative;
    line-height: 20px;
    display: inline-block; }
    .myRadio__label:before {
      top: 1px;
      left: 0;
      z-index: 1;
      content: '';
      width: 16px;
      height: 16px;
      position: absolute;
      border: 2px solid #48afe2;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      border-radius: 50%; }
    .myRadio__label:after {
      top: 6px;
      left: 5px;
      z-index: 1;
      content: '';
      width: 6px;
      height: 6px;
      position: absolute;
      visibility: hidden;
      background: #48afe2;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      border-radius: 50%;
      opacity: 0; }
  .myRadio .myRadio__input:checked + .myRadio__label::after {
    visibility: visible;
    opacity: 1; }

@media (min-width: 768px) {
  .form__blockSM {
    width: 50%; } }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  color: #454545;
  font-family: Helvetica, Arial, sans-serif;
  background-color: #fff;
  font-size: 0.875rem;
  line-height: 1.5; }

.container {
  margin-right: auto;
  margin-left: auto;
  position: relative;
  padding-left: 15px;
  padding-right: 15px; }
  .container:before, .container:after {
    content: " ";
    display: table; }
  .container:after {
    clear: both; }
  @media (min-width: 576px) {
    .container {
      width: 560px; } }
  @media (min-width: 768px) {
    .container {
      width: 750px; } }
  @media (min-width: 992px) {
    .container {
      width: 970px; } }
  @media (min-width: 1130px) {
    .container {
      width: 1100px; } }

.page {
  position: relative; }
  @media (min-width: 768px) {
    .page {
      min-height: 100vh;
      padding-bottom: 71px; } }

.main:before, .main:after {
  content: " ";
  display: table; }
.main:after {
  clear: both; }
.main__content {
  min-height: 1px; }
.main__sidebar {
  min-height: 1px; }
@media (min-width: 992px) {
  .main__content {
    float: left;
    width: 670px;
    padding-right: 20px; }
  .main__sidebar {
    float: right;
    width: 270px; } }
@media (min-width: 1130px) {
  .main__content {
    width: 770px;
    padding-right: 10px; }
  .main__sidebar {
    width: 300px;
    max-width: 300px;
    min-width: 300px; } }

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.2; }

h1, .h1 {
  font-weight: 700;
  font-size: 1.25rem;
  margin-bottom: 20px;
  text-transform: uppercase; }

h2, .h2 {
  font-weight: 400;
  padding-top: 5px;
  font-size: 1.1rem;
  margin: 0 0 0.75rem 0;
  text-transform: uppercase; }

h3, .h3 {
  font-weight: 700;
  font-size: 0.875rem;
  margin: 0 0 1rem 0;
  text-transform: uppercase; }

h4, .h4 {
  font-weight: 700;
  margin: 0 0 0.5rem 0;
  font-size: 0.875rem; }

h5, .h5 {
  font-weight: 400;
  font-size: 0.875rem;
  text-transform: uppercase;
  margin: 0 0 10px 0; }

h6, .h6 {
  margin: 0 0 0.5rem 0;
  font-size: 0.875rem; }

p {
  margin: 0 0 0.75rem 0; }

a {
  color: #48afe2;
  text-decoration: underline; }
  a:hover {
    text-decoration: none; }

.header {
  color: #ddd;
  padding: 10px 0;
  background: #1f2224; }
  .header__logo {
    float: left;
    width: 141px;
    font-size: 0;
    line-height: 0;
    display: block; }
  .header__announcement {
    float: right;
    height: 20px;
    font-size: 15px;
    line-height: 20px;
    color: #48afe2;
    text-decoration: none;
    display: inline-block; }
    .header__announcement span {
      display: none; }
    .header__announcement:hover {
      color: #fff; }
  .header__auth {
    float: right;
    height: 20px;
    font-size: 15px;
    line-height: 20px;
    margin-left: 20px;
    color: #48afe2;
    text-decoration: none;
    display: inline-block; }
    .header__auth span {
      display: none; }
    .header__auth:hover {
      color: #fff; }
  @media (min-width: 576px) {
    .header__announcement span {
      display: inline; }
    .header__auth span {
      display: inline; } }
  @media (min-width: 768px) {
    .header__auth {
      margin-left: 30px; } }

.footer {
  background: #1f2224;
  padding: 25px 0;
  color: #748089; }
  @media (min-width: 768px) {
    .footer {
      left: 0;
      right: 0;
      bottom: 0;
      position: absolute; } }

.topnav {
  z-index: 999;
  position: relative;
  background-image: -webkit-linear-gradient(top, #fbfbfb 0%, #e6e6e7 100%);
  background-image: -o-linear-gradient(top, #fbfbfb 0%, #e6e6e7 100%);
  background-image: linear-gradient(to bottom, #fbfbfb 0%, #e6e6e7 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFBFBFB', endColorstr='#FFE6E6E7', GradientType=0); }
  .topnav__header {
    padding: 7px 0; }
    .topnav__header:before, .topnav__header:after {
      content: " ";
      display: table; }
    .topnav__header:after {
      clear: both; }
    .topnav__header span {
      float: left;
      font-size: 16px;
      font-weight: 400;
      line-height: 28px;
      color: #1f2224;
      display: inline-block;
      text-transform: uppercase; }
    .topnav__header .nav-toggle {
      width: 26px;
      float: right;
      font-size: 0;
      line-height: 0;
      padding: 6px 0;
      margin-top: 1px;
      position: relative;
      display: inline-block; }
      .topnav__header .nav-toggle span {
        width: 100%;
        height: 2px;
        margin-bottom: 5px;
        position: relative;
        display: inline-block;
        background: #1f2224;
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s; }
        .topnav__header .nav-toggle span:last-child {
          margin-bottom: 0; }
    .topnav__header.open .nav-toggle span {
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s; }
      .topnav__header.open .nav-toggle span:nth-child(1) {
        top: 6px;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg); }
      .topnav__header.open .nav-toggle span:nth-child(2) {
        display: none; }
      .topnav__header.open .nav-toggle span:nth-child(3) {
        top: -1px;
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg); }
  .topnav__nav {
    left: 0;
    right: 0;
    top: 100%;
    margin: 0;
    padding: 0;
    display: none;
    list-style: none;
    position: absolute;
    border-top: 1px solid #C2C2C2; }
    .topnav__nav:before, .topnav__nav:after {
      content: " ";
      display: table; }
    .topnav__nav:after {
      clear: both; }
    .topnav__nav > li {
      background-image: -webkit-linear-gradient(top, #fbfbfb 0%, #e6e6e7 100%);
      background-image: -o-linear-gradient(top, #fbfbfb 0%, #e6e6e7 100%);
      background-image: linear-gradient(to bottom, #fbfbfb 0%, #e6e6e7 100%);
      background-repeat: repeat-x;
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFBFBFB', endColorstr='#FFE6E6E7', GradientType=0); }
      .topnav__nav > li > a {
        width: 100%;
        color: #363c40;
        font-size: 14px;
        font-weight: 700;
        line-height: 20px;
        padding: 10px 15px;
        display: inline-block;
        text-decoration: none;
        text-shadow: 1px 1px 1px #fff; }
        .topnav__nav > li > a:hover {
          color: #48afe2; }
    .topnav__nav.open {
      display: block; }
  @media (min-width: 768px) {
    .topnav__header {
      display: none; }
    .topnav__nav {
      top: auto;
      left: auto;
      bottom: auto;
      width: 100%;
      display: block;
      margin: 0 -10px;
      position: relative; }
      .topnav__nav > li {
        float: left; }
        .topnav__nav > li > a {
          text-align: center;
          padding: 10px 10px; } }
  @media (min-width: 992px) {
    .topnav__nav > li {
      float: left;
      margin-right: 20px; } }

.filter {
  z-index: 1;
  width: 100%;
  max-width: 100%;
  padding: 15px 0;
  overflow-x: hidden;
  overflow-y: inherit;
  background: #48afe2;
  position: relative; }
  .filter__row {
    margin: 0 -15px; }
    .filter__row:before, .filter__row:after {
      content: " ";
      display: table; }
    .filter__row:after {
      clear: both; }
  .filter__col {
    padding: 0 15px; }
  .filter .form-label {
    color: #fff; }
  .filter .myCheckbox .myCheckbox__label {
    color: #fff; }
    .filter .myCheckbox .myCheckbox__label:after {
      background: #fff; }
    .filter .myCheckbox .myCheckbox__label:before {
      border-color: #fff; }
  .filter .form-group {
    margin-bottom: 5px; }
  .filter .form-control {
    padding: 4px 10px;
    border-color: #fff; }
    .filter .form-control.error {
      border-color: red; }
  .filter__submit {
    text-align: right; }
  .filter__btn {
    margin: 0;
    color: #fff;
    border: none;
    outline: none;
    padding: 5px 0;
    font-size: 1rem;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    background: transparent; }
    .filter__btn:hover {
      color: #3d3d6a; }
  .filter__announcement {
    display: none; }
  @media (min-width: 576px) {
    .filter__col {
      width: 50%;
      float: left; } }
  @media (min-width: 768px) {
    .filter {
      padding: 0; }
      .filter:after {
        background: #4bbbec; }
      .filter__wrap {
        width: 100%;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex; }
      .filter__content {
        padding: 10px 20px 5px 0;
        -webkit-box-flex: 1;
        -webkit-flex-grow: 1;
        -moz-flex-grow: 1;
        -ms-flex-positive: 1;
        flex-grow: 1; }
      .filter__submit {
        width: 125px;
        min-width: 125px;
        position: relative;
        background: #4bbbec;
        -webkit-box-flex: 1;
        -webkit-flex-grow: 1;
        -moz-flex-grow: 1;
        -ms-flex-positive: 1;
        flex-grow: 1; }
      .filter__btn {
        width: 100%;
        height: 100%;
        position: relative;
        font-size: 0.875rem; }
        .filter__btn span {
          width: 100%;
          margin-bottom: 5px;
          display: inline-block;
          font-size: 34px; }
        .filter__btn b {
          text-transform: uppercase; }
        .filter__btn:before {
          top: 50%;
          content: '';
          left: -20px;
          z-index: 10;
          margin-top: -10px;
          position: absolute;
          border: 10px solid transparent;
          border-right: 10px solid #4bbbec; } }
  @media (min-width: 992px) {
    .filter__announcement {
      width: 250px;
      color: #fff;
      min-width: 250px;
      text-align: center;
      position: relative;
      text-decoration: none;
      background: #3d3d6a;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-flex: 1;
      -webkit-flex-grow: 1;
      -moz-flex-grow: 1;
      -ms-flex-positive: 1;
      flex-grow: 1; }
      .filter__announcement:hover {
        color: #48afe2; }
      .filter__announcement:before {
        top: 0;
        bottom: 0;
        content: '';
        width: 2000px;
        right: -2000px;
        position: absolute;
        background: #3d3d6a; }
      .filter__announcement span {
        margin: auto;
        display: inline-block; }
      .filter__announcement i {
        font-size: 34px; }
      .filter__announcement b {
        display: block;
        padding-top: 5px;
        text-transform: uppercase; } }

.main {
  padding-top: 20px;
  padding-bottom: 40px; }

.sidebar-bnr {
  max-width: 100%;
  overflow: hidden;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  background: #f1f1f1; }
  .sidebar-bnr .sidebar-bnr-inner {
    margin: auto;
    display: block;
    font-size: 1.5rem;
    text-align: center;
    padding: 40px 20px;
    justify-content: center; }

.main-adv {
  max-width: 100%;
  overflow: hidden;
  margin-bottom: 10px;
  width: 100% !important; }

.row {
  margin: 0 -3px;
  min-height: 1px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .row .col50 {
    width: 100%; }
  @media (min-width: 768px) {
    .row .col50 {
      width: 50%;
      padding: 0 3px; } }

.main__text {
  padding: 15px;
  margin-bottom: 30px;
  background: #efefef; }

.newsBlock {
  width: 100%;
  display: table;
  margin-bottom: 20px; }
  .newsBlock__image {
    width: 146px;
    padding: 0 3px;
    display: table-cell;
    vertical-align: top; }
    .newsBlock__image a {
      display: block; }
  .newsBlock__text {
    padding: 0 3px;
    line-height: 1.4;
    font-weight: 700;
    font-size: 0.75rem;
    display: table-cell;
    vertical-align: top;
    text-transform: uppercase; }

.object {
  width: 100%;
  color: #838383;
  margin-bottom: 30px;
  padding: 0 3px; }
  .object__image {
    display: block;
    overflow: hidden;
    margin-bottom: 5px; }
    .object__image img {
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s; }
    .object__image:hover img {
      -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
      -o-transform: scale(1.2);
      transform: scale(1.2);
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s; }
  .object__title {
    position: relative;
    padding-right: 50px; }
    .object__title a {
      display: block;
      color: #4d4d4d;
      overflow: hidden;
      position: relative;
      white-space: nowrap;
      text-decoration: underline; }
      .object__title a:before {
        top: 0;
        right: 0;
        content: '';
        width: 20px;
        height: 100%;
        position: absolute;
        background: url("../img/object_title_white.png") 0 0 repeat-y; }
      .object__title a:hover {
        color: #4d4d4d;
        text-decoration: none; }
  .object__status {
    top: 2px;
    right: 0;
    color: #fff;
    padding: 3px 5px;
    font-size: 10px;
    line-height: 10px;
    position: absolute;
    text-transform: uppercase;
    background: #48afe2;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px; }
  .object__region {
    max-width: 100%;
    overflow: hidden; }
    .object__region a {
      color: #ccd1bf;
      white-space: nowrap;
      text-decoration: none; }
      .object__region a:hover {
        color: #4d4d4d;
        text-decoration: none; }
  .object__divider {
    width: 5px;
    height: 5px;
    margin: 5px 0;
    position: relative;
    background: #b1b1b1;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%; }
    .object__divider:after, .object__divider:before {
      top: 0;
      z-index: 5;
      width: 5px;
      height: 5px;
      content: '';
      position: absolute;
      background: #b1b1b1;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      border-radius: 50%; }
    .object__divider:after {
      left: 10px; }
    .object__divider:before {
      left: 20px; }
  .object__date {
    color: #96b731;
    font-size: 0.75rem; }
  .object__owner {
    color: #505050;
    text-transform: uppercase; }
  .object__area {
    color: #505050; }
  .object__price {
    color: #505050;
    padding-bottom: 10px;
    border-bottom: solid 4px #d7d7d7; }
    .object__price strong {
      font-weight: 400;
      font-size: 1.2rem; }
  @media (min-width: 576px) {
    .object {
      width: 50%; } }
  @media (min-width: 768px) {
    .object {
      width: 33.33%; } }

.objectSlider {
  margin-bottom: 10px; }
  .objectSlider__item {
    border: none;
    outline: none; }
  .objectSlider .slide-nav {
    top: 50%;
    color: #fff;
    z-index: 10;
    height: 30px;
    font-size: 0;
    cursor: pointer;
    position: absolute;
    margin-top: -15px;
    opacity: 0.6;
    filter: alpha(opacity=60); }
    .objectSlider .slide-nav i {
      font-size: 30px; }
    .objectSlider .slide-nav:hover {
      opacity: 1;
      filter: alpha(opacity=100); }
    .objectSlider .slide-nav.prev {
      left: 10px; }
    .objectSlider .slide-nav.next {
      right: 10px; }
  @media (min-width: 768px) {
    .objectSlider .slide-nav {
      height: 50px;
      margin-top: -25px; }
      .objectSlider .slide-nav i {
        font-size: 50px; } }

.objectTitle {
  font-size: 1.1rem;
  position: relative;
  margin-bottom: 0;
  padding-right: 55px;
  display: inline-block; }
  .objectTitle__status {
    top: 2px;
    right: 0;
    color: #fff;
    padding: 3px 5px;
    font-size: 10px;
    line-height: 10px;
    position: absolute;
    text-transform: uppercase;
    background: #48afe2;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px; }

.objectAuthor {
  color: #96b731; }

.objectDate {
  color: #ccd1bf;
  margin-bottom: 10px; }

.social {
  padding: 0;
  font-size: 0;
  line-height: 0;
  list-style: none;
  margin: 0 0 20px 0; }
  .social li {
    margin-right: 5px;
    display: inline-block; }
  .social a {
    color: #fff;
    width: 30px;
    height: 30px;
    padding: 5px 0;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    display: inline-block;
    text-decoration: none; }
  .social__vk {
    background: #41658B; }
  .social__facebook {
    background: #39579A; }
  .social__odnoklassniki {
    background: #F4960F; }
  .social__twitter {
    background: #0099FF; }

.objectContent {
  margin-bottom: 40px; }
  .objectContent__info {
    margin-bottom: 20px; }
    .objectContent__info table {
      width: 100%;
      border-collapse: collapse; }
      .objectContent__info table td {
        border: none;
        padding: 10px 0;
        vertical-align: top;
        border-bottom: solid 1px #ddd; }
        .objectContent__info table td:first-child {
          font-weight: 700;
          padding-right: 10px; }
  .objectContent__contact dl {
    margin: 0 0 1rem 0; }
    .objectContent__contact dl dt,
    .objectContent__contact dl dd {
      margin: 0; }
    .objectContent__contact dl dt {
      font-weight: 700; }
  .objectContent__phone {
    color: #454545;
    font-size: 1.1rem;
    text-decoration: none; }
  .objectContent__price {
    color: #fff;
    padding: 15px;
    font-size: 1.2rem;
    text-align: center;
    display: inline-block;
    background: #48afe2; }
    .objectContent__price b {
      width: 100%;
      display: inline-block; }
  @media (min-width: 768px) {
    .objectContent {
      width: 100%;
      display: table; }
      .objectContent__info {
        vertical-align: top;
        display: table-cell;
        padding-right: 30px; }
      .objectContent__contact {
        width: 250px;
        vertical-align: top;
        display: table-cell; } }

.objectTable td:nth-child(1) {
  vertical-align: top; }
.objectTable td:nth-child(3) {
  text-align: center; }
.objectTable td:nth-child(5) {
  white-space: nowrap; }
.objectTable p {
  margin-bottom: 0; }
.objectTable__image {
  width: 100px;
  display: block; }
.objectTable__price {
  display: block;
  color: #48afe2; }

.objectMap {
  height: 300px;
  margin-bottom: 30px; }
  .objectMap #map {
    width: 100%;
    height: 100%; }
  @media (min-width: 768px) {
    .objectMap {
      height: 400px; } }

.heading-border {
  padding-bottom: 5px;
  border-bottom: solid 1px #ddd; }

.links {
  padding: 0;
  list-style: none;
  margin: 0 0 20px 0; }

.modalAuth {
  padding: 0;
  min-width: 280px;
  background: #fff;
  max-width: 360px; }
  .modalAuth__title {
    color: #fff;
    font-size: 1rem;
    line-height: 20px;
    padding: 10px 15px;
    text-align: center;
    background: #1f2224;
    text-transform: uppercase; }
  .modalAuth__content {
    padding: 20px 20px 15px 20px; }
    .modalAuth__content p {
      text-align: center;
      margin-bottom: 10px; }
      .modalAuth__content p small {
        display: block;
        padding-top: 3px; }
      .modalAuth__content p strong {
        display: block;
        line-height: 1; }
    .modalAuth__content .btn {
      width: 100%; }

.news__image {
  margin-bottom: 10px; }
  .news__image a {
    font-size: 0;
    line-height: 0;
    display: inline-block; }
.news__text h4 {
  position: relative;
  margin-bottom: 10px;
  padding-bottom: 10px; }
  .news__text h4:before {
    left: 0;
    bottom: 0;
    width: 30px;
    height: 1px;
    content: '';
    background: #555;
    position: absolute; }
.news__text p {
  margin-bottom: 0; }
@media (min-width: 576px) {
  .news {
    width: 100%;
    display: table;
    margin-bottom: 30px; }
    .news__image {
      width: 240px;
      margin-bottom: 0;
      vertical-align: top;
      display: table-cell; }
    .news__text {
      padding-left: 20px;
      vertical-align: top;
      display: table-cell; } }

.content {
  margin-bottom: 30px; }
  .content:before, .content:after {
    content: " ";
    display: table; }
  .content:after {
    clear: both; }

.imgLeft {
  display: block;
  margin-bottom: 10px; }
  @media (min-width: 768px) {
    .imgLeft {
      float: left;
      width: 310px;
      margin: 0 10px 10px 0; } }

.imgRight {
  display: block;
  margin-bottom: 10px; }
  @media (min-width: 768px) {
    .imgRight {
      float: right;
      width: 310px;
      margin: 0 0 10px 10px; } }

.materials {
  padding: 0;
  margin: 0 0 30px 0; }
  .materials a {
    color: #4d4e4e; }
    .materials a:hover {
      color: #48afe2; }

.pagination {
  margin: 0;
  padding: 0;
  font-size: 0;
  line-height: 0;
  list-style: none; }
  .pagination li {
    margin-right: 6px;
    display: inline-block; }
    .pagination li a {
      color: #000;
      width: 28px;
      height: 28px;
      padding: 4px 0;
      font-size: 14px;
      line-height: 20px;
      text-align: center;
      display: inline-block;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      -ms-border-radius: 3px;
      border-radius: 3px; }
    .pagination li span {
      color: #fff;
      width: 28px;
      height: 28px;
      padding: 4px 0;
      font-size: 14px;
      background: #48afe2;
      line-height: 20px;
      text-align: center;
      display: inline-block;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      -ms-border-radius: 3px;
      border-radius: 3px; }

.checkboxList {
  padding: 0;
  list-style: none;
  margin: 0 -10px 5px -10px; }
  .checkboxList:before, .checkboxList:after {
    content: " ";
    display: table; }
  .checkboxList:after {
    clear: both; }
  .checkboxList li {
    margin: 5px 0;
    padding: 0 10px; }
  @media (min-width: 768px) {
    .checkboxList li {
      float: left;
      width: 50%; } }

.userInfo__text {
  padding: 15px;
  margin-bottom: 25px;
  background: #efefef; }
.userInfo__tab {
  display: none; }
  .userInfo__tab.active {
    display: block; }

.mb5 {
  margin-bottom: 5px; }

.regions {
  margin-bottom: 40px; }
  .regions .default {
    margin-bottom: 30px; }
    .regions .default a {
      font-weight: 700;
      color: #48afe2;
      text-transform: uppercase;
      text-decoration: underline; }
      .regions .default a:hover {
        text-decoration: none; }
      .regions .default a h2 {
        font-weight: 700;
        font-size: 1rem;
        margin-bottom: 0;
        display: inline-block; }
    .regions .default .sep {
      display: inline-block;
      padding: 0 5px;
      color: #ccd1bf; }
  .regions .list {
    margin: 0 -15px; }
    .regions .list:before, .regions .list:after {
      content: " ";
      display: table; }
    .regions .list:after {
      clear: both; }
    .regions .list > div {
      padding: 0 15px; }
      .regions .list > div span {
        color: #48afe2;
        font-weight: bold;
        font-style: normal; }
      .regions .list > div a {
        color: #505050;
        width: 100%;
        display: inline-block;
        text-decoration: underline;
        line-height: normal;
        padding: 2px 0;
        white-space: nowrap;
        overflow: hidden; }
  @media (min-width: 576px) {
    .regions .list > div {
      float: left;
      width: 50%; } }
  @media (min-width: 768px) {
    .regions .list > div {
      float: left;
      width: 33.33%; } }

/*# sourceMappingURL=main.css.map */
