.filter {
	z-index: 1;
	width: 100%;
	max-width: 100%;
	padding: 15px 0;
	overflow-x: hidden;
	overflow-y: inherit;
	background: $color-blue;
	position: relative;

	&__row {
		margin: 0 -15px;
		@include clearfix();
	}

	&__col {
		padding: 0 15px;
	}

	.form-label {
		color: #fff;
	}

	.myCheckbox {

		.myCheckbox__label {
			color: #fff;

			&:after {
				background: #fff;
			}

			&:before {
				border-color: #fff;
			}
		}
	}

	.form-group {
		margin-bottom: 5px;
	}

	.form-control {
		padding: 4px 10px;
		border-color: #fff;

		&.error {
			border-color: red;
		}
	}

	&__submit {
		text-align: right;
	}

	&__btn {
		margin: 0;
		color: #fff;
		border: none;
		outline: none;
		padding: 5px 0;
		font-size: 1rem;
		cursor: pointer;
		text-decoration: none;
		display: inline-block;
		background: transparent;

		&:hover {
			color: #3d3d6a;
		}
	}

	&__announcement {
		display: none;
	}

	@media (min-width: $screen-sm-min) {

		&__col {
			width: 50%;
			float: left;
		}
	}

	@media (min-width: $screen-md-min) {
		padding: 0;

		&:after {
			background: #4bbbec;
		}

		&__wrap {
			width: 100%;
			@include flexbox();
		}

		&__content {
			padding: 10px 20px 5px 0;
			@include flex-grow(1);
		}

		&__submit {
			width: 125px;
			min-width: 125px;
			position: relative;
			background: #4bbbec;
			@include flex-grow(1);
		}

		&__btn {
			width: 100%;
			height: 100%;
			position: relative;
			font-size: 0.875rem;

			span {
				width: 100%;
				margin-bottom: 5px;
				display: inline-block;
				font-size: 34px;
			}

			b {
				text-transform: uppercase;
			}

			&:before {
				top: 50%;
				content: '';
				left: -20px;
				z-index: 10;
				margin-top: -10px;
				position: absolute;
				border: 10px solid transparent;
				border-right: 10px solid #4bbbec;
			}
		}
	}

	@media (min-width: $screen-lg-min) {

		&__announcement {
			width: 250px;
			color: #fff;
			min-width: 250px;
			text-align: center;
			position: relative;
			text-decoration: none;
			background: #3d3d6a;
			@include flexbox();
			@include flex-grow(1);

			&:hover {
				color: $color-blue;
			}

			&:before {
				top: 0;
				bottom: 0;
				content: '';
				width: 2000px;
				right: -2000px;
				position: absolute;
				background: #3d3d6a;
			}

			span {
				margin: auto;
				display: inline-block;
			}

			i {
				font-size: 34px;
			}

			b {
				display: block;
				padding-top: 5px;
				text-transform: uppercase;
			}
		}
	}

	@media (min-width: $screen-xl-min) {

	}
}

.main {
	padding-top: 20px;
	padding-bottom: 40px;
}

.sidebar-bnr {
	max-width: 100%;
	overflow: hidden;
	margin-bottom: 10px;

	@include flexbox();
	background: #f1f1f1;

	.sidebar-bnr-inner {
		margin: auto;
		display: block;
		font-size: 1.5rem;
		text-align: center;
		padding: 40px 20px;
		justify-content: center;
	}

	@media (min-width: $screen-md-min) {

	}
}

.main-adv {
	max-width: 100%;
	overflow: hidden;
	margin-bottom: 10px;
	width: 100% !important;
}

.row {
	margin: 0 -3px;
	min-height: 1px;
	@include flexbox();
	@include flex-wrap(wrap);

	.col50 {
		width: 100%;
	}


	@media (min-width: $screen-md-min) {

		.col50 {
			width: 50%;
			padding: 0 3px;
		}
	}
}

.main__text {
	padding: 15px;
	margin-bottom: 30px;
	background: #efefef;
}

.newsBlock {
	width: 100%;
	display: table;
	margin-bottom: 20px;

	&__image {
		width: 146px;
		padding: 0 3px;
		display: table-cell;
		vertical-align: top;

		a {
			display: block;
		}
	}

	&__text {
		padding: 0 3px;
		line-height: 1.4;
		font-weight: 700;
		font-size: 0.75rem;
		display: table-cell;
		vertical-align: top;
		text-transform: uppercase;

		a {

		}
	}
}

.object {
	width: 100%;
	color: #838383;
	margin-bottom: 30px;
	padding: 0 3px;

	&__image {
		display: block;
		overflow: hidden;
		margin-bottom: 5px;

		img {
			@include transition(.3s);
		}

		&:hover {

			img {
				@include scale(1.2);
				@include transition(.3s);
			}
		}
	}

	&__title {
		position: relative;
		padding-right: 50px;

		a {
			display: block;
			color: #4d4d4d;
			overflow: hidden;
			position: relative;
			white-space: nowrap;
			text-decoration: underline;

			&:before {
				top: 0;
				right: 0;
				content: '';
				width: 20px;
				height: 100%;
				position: absolute;
				background: url("../img/object_title_white.png") 0 0 repeat-y;
			}

			&:hover {
				color: #4d4d4d;
				text-decoration: none;
			}
		}
	}

	&__status {
		top: 2px;
		right: 0;
		color: #fff;
		padding: 3px 5px;
		font-size: 10px;
		line-height: 10px;
		position: absolute;
		text-transform: uppercase;
		background: $color-blue;
		@include border-radius(3px);
	}

	&__region {
		max-width: 100%;
		overflow: hidden;

		a {
			color: #ccd1bf;
			white-space: nowrap;
			text-decoration: none;

			&:hover {
				color: #4d4d4d;
				text-decoration: none;
			}
		}
	}

	&__divider {
		width: 5px;
		height: 5px;
		margin: 5px 0;
		position: relative;
		background: #b1b1b1;
		@include border-radius(50%);

		&:after,
		&:before {
			top: 0;
			z-index: 5;
			width: 5px;
			height: 5px;
			content: '';
			position: absolute;
			background: #b1b1b1;
			@include border-radius(50%);
		}

		&:after {
			left: 10px;
		}

		&:before {
			left: 20px;
		}
	}

	&__date {
		color: #96b731;
		font-size: 0.75rem;
	}

	&__owner {
		color: #505050;
		text-transform: uppercase;
	}

	&__area {
		color: #505050;
	}

	&__price {
		color: #505050;
		padding-bottom: 10px;
		border-bottom: solid 4px #d7d7d7;

		strong {
			font-weight: 400;
			font-size: 1.2rem;
		}
	}

	@media (min-width: $screen-sm-min) {
		width: 50%;
	}

	@media (min-width: $screen-md-min) {
		width: 33.33%;
	}
}

.objectSlider {
	margin-bottom: 10px;

	&__item {
		border: none;
		outline: none;
	}

	.slide-nav {
		top: 50%;
		color: #fff;
		z-index: 10;
		height: 30px;
		font-size: 0;
		cursor: pointer;
		position: absolute;
		margin-top: -15px;
		@include opacity(0.6);

		i {
			font-size: 30px;
		}

		&:hover {
			@include opacity(1);
		}

		&.prev {
			left: 10px;
		}

		&.next {
			right: 10px;
		}
	}

	@media (min-width: $screen-md-min) {

		.slide-nav {
			height: 50px;

			margin-top: -25px;

			i {
				font-size: 50px;
			}
		}
	}
}

.objectTitle {
	font-size: 1.1rem;
	position: relative;
	margin-bottom: 0;
	padding-right: 55px;
	display: inline-block;

	&__status {
		top: 2px;
		right: 0;
		color: #fff;
		padding: 3px 5px;
		font-size: 10px;
		line-height: 10px;
		position: absolute;
		text-transform: uppercase;
		background: $color-blue;
		@include border-radius(3px);
	}
}

.objectAuthor {
	color: #96b731;
}

.objectDate {
	color: #ccd1bf;
	margin-bottom: 10px;
}

.social {
	padding: 0;
	font-size: 0;
	line-height: 0;
	list-style: none;
	margin: 0 0 20px 0;

	li {
		margin-right: 5px;
		display: inline-block;
	}

	a {
		color: #fff;
		width: 30px;
		height: 30px;
		padding: 5px 0;
		font-size: 20px;
		line-height: 20px;
		text-align: center;
		display: inline-block;
		text-decoration: none;
	}

	&__vk {
		background: #41658B;
	}

	&__facebook {
		background: #39579A;
	}

	&__odnoklassniki {
		background: #F4960F;
	}

	&__twitter {
		background: #0099FF;
	}
}

.objectContent {
	margin-bottom: 40px;

	&__info {
		margin-bottom: 20px;

		table {
			width: 100%;
			border-collapse: collapse;

			td {
				border: none;
				padding: 10px 0;
				vertical-align: top;

				border-bottom: solid 1px #ddd;

				&:first-child {
					font-weight: 700;
					padding-right: 10px;
				}
			}
		}
	}

	&__contact {

		dl {
			margin: 0 0 1rem 0;

			dt,
			dd {
				margin: 0;
			}

			dt {
				font-weight: 700;
			}
		}
	}

	&__phone {
		color: $color-base;
		font-size: 1.1rem;
		text-decoration: none;
	}

	&__price {
		color: #fff;
		padding: 15px;
		font-size: 1.2rem;
		text-align: center;
		display: inline-block;
		background: $color-blue;

		b {
			width: 100%;
			display: inline-block;
		}

		span {

		}
	}


	@media (min-width: $screen-md-min) {
		width: 100%;
		display: table;

		&__info {
			vertical-align: top;
			display: table-cell;
			padding-right: 30px;
		}

		&__contact {
			width: 250px;
			vertical-align: top;
			display: table-cell;
		}
	}

	@media (min-width: $screen-md-min) {

	}

	@media (min-width: $screen-md-min) {

	}
}

.objectTable {

	td {

		&:nth-child(1) {
			vertical-align: top;
		}

		&:nth-child(3) {
			text-align: center;
		}

		&:nth-child(5) {
			white-space: nowrap;
		}
	}

	p {
		margin-bottom: 0;
	}

	&__image {
		width: 100px;
		display: block;
	}

	&__price {
		display: block;
		color: $color-blue;
	}
}

.objectMap {
	height: 300px;
	margin-bottom: 30px;

	#map {
		width: 100%;
		height: 100%;
	}

	@media (min-width: $screen-md-min) {
		height: 400px;
	}
}

.heading-border {
	padding-bottom: 5px;
	border-bottom: solid 1px #ddd;
}

.links {
	padding: 0;
	list-style: none;
	margin: 0 0 20px 0;
}

.modalAuth {
	padding: 0;
	min-width: 280px;
	background: #fff;
	max-width: 360px;

	&__title {
		color: #fff;
		font-size: 1rem;
		line-height: 20px;
		padding: 10px 15px;
		text-align: center;
		background: #1f2224;
		text-transform: uppercase;
	}

	&__content {
		padding: 20px 20px 15px 20px;

		p {
			text-align: center;
			margin-bottom: 10px;

			small {
				display: block;
				padding-top: 3px;
			}

			strong {
				display: block;
				line-height: 1;
			}
		}

		.btn {
			width: 100%;
		}
	}
}

.news {

	&__image {
		margin-bottom: 10px;

		a {
			font-size: 0;
			line-height: 0;
			display: inline-block;
		}
	}

	&__text {

		h4 {
			position: relative;
			margin-bottom: 10px;
			padding-bottom: 10px;

			&:before {
				left: 0;
				bottom: 0;
				width: 30px;
				height: 1px;
				content: '';
				background: #555;
				position: absolute;
			}
		}

		p {
			margin-bottom: 0;
		}
	}

	@media (min-width: $screen-sm-min) {
		width: 100%;
		display: table;
		margin-bottom: 30px;

		&__image {
			width: 240px;
			margin-bottom: 0;
			vertical-align: top;
			display: table-cell;
		}

		&__text {
			padding-left: 20px;
			vertical-align: top;
			display: table-cell;
		}
	}

	@media (min-width: $screen-md-min) {

	}
}

.content {
	margin-bottom: 30px;
	@include clearfix();
}

.imgLeft {
	display: block;
	margin-bottom: 10px;

	@media (min-width: $screen-md-min) {
		float: left;
		width: 310px;
		margin: 0 10px 10px 0;
	}
}

.imgRight {
	display: block;
	margin-bottom: 10px;

	@media (min-width: $screen-md-min) {
		float: right;
		width: 310px;
		margin: 0 0 10px 10px;
	}
}

.materials {
	padding: 0;
	margin: 0 0 30px 0;

	a {
		color: #4d4e4e;

		&:hover {
			color: $color-blue;
		}
	}
}

.pagination {
	margin: 0;
	padding: 0;
	font-size: 0;
	line-height: 0;
	list-style: none;

	li {
		margin-right: 6px;
		display: inline-block;

		a {
			color: #000;
			width: 28px;
			height: 28px;
			padding: 4px 0;
			font-size: 14px;
			line-height: 20px;
			text-align: center;
			display: inline-block;
			@include border-radius(3px);
		}

		span {
			color: #fff;
			width: 28px;
			height: 28px;
			padding: 4px 0;
			font-size: 14px;
			background: $color-blue;
			line-height: 20px;
			text-align: center;
			display: inline-block;
			@include border-radius(3px);
		}
	}
}

.checkboxList {
	padding: 0;
	list-style: none;
	margin: 0 -10px 5px -10px;
	@include clearfix();

	li {
		margin: 5px 0;
		padding: 0 10px;
	}

	@media (min-width: $screen-md-min) {

		li {
			float: left;
			width: 50%;
		}
	}
}

.userInfo {

	&__text {
		padding: 15px;
		margin-bottom: 25px;
		background: #efefef;
	}

	&__tab {
		display: none;

		&.active {
			display: block;
		}
	}
}

.mb5 {
	margin-bottom: 5px;
}

.regions {
	margin-bottom: 40px;

	.default {
		margin-bottom: 30px;

		a {
			font-weight: 700;
			color: $color-blue;
			text-transform: uppercase;
			text-decoration: underline;

			&:hover {
				text-decoration: none;
			}

			h2 {
				font-weight: 700;
				font-size: 1rem;
				margin-bottom: 0;
				display: inline-block;
			}
		}

		.sep {
			display: inline-block;
			padding: 0 5px;
			color: #ccd1bf;
		}
	}

	.list {
		margin: 0 -15px;
		@include clearfix();

		> div  {
			padding: 0 15px;

			span {
				color: $color-blue;
				font-weight: bold;
				font-style: normal;
			}

			a {
				color: #505050;
				width: 100%;
				display: inline-block;
				text-decoration: underline;
				line-height: normal;
				padding: 2px 0;
				white-space: nowrap;
				overflow: hidden;
			}
		}
	}


	@media (min-width: $screen-sm-min) {

		.list {

			> div {
				float: left;
				width: 50%;
			}
		}
	}

	@media (min-width: $screen-md-min) {

		.list {

			> div {
				float: left;
				width: 33.33%;
			}
		}
	}

}