* {
	@include box-sizing(border-box);
}
*:before,
*:after {
	@include box-sizing(border-box);
}



body {
	color: $color-base;
	font-family: $font-base;
	background-color: $body-bg;
	font-size: $font-size-base;
	line-height: $line-height-base;
}

.container {
	margin-right: auto;
	margin-left: auto;
	position: relative;
	padding-left:  ($gutter / 2);
	padding-right: ($gutter / 2);
	@include clearfix;

	@media (min-width: $screen-sm-min) {
		width: $container-sm;
	}

	@media (min-width: $screen-md-min) {
		width: $container-md;
	}

	@media (min-width: $screen-lg-min) {
		width: $container-lg;
	}

	@media (min-width: $screen-xl-min) {
		width: $container-xl;
	}
}

.page {
	position: relative;

	@media (min-width: $screen-md-min) {
		min-height: 100vh;
		padding-bottom: 71px;
	}
}


.main {
	@include clearfix();

	&__content {
		min-height: 1px;
	}

	&__sidebar {
		min-height: 1px;
	}


	@media (min-width: $screen-lg-min) {

		&__content {
			float: left;
			width: 670px;
			padding-right: 20px;
		}

		&__sidebar {
			float: right;
			width: 270px;
		}
	}

	@media (min-width: $screen-xl-min) {

		&__content {
			width: 770px;
			padding-right: 10px;
		}

		&__sidebar {
			width: 300px;
			max-width: 300px;
			min-width: 300px;
		}
	}
}


//
// Headings
//

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: $font-head;
	line-height: $headings-line-height;
}

h1, .h1 {
	font-weight: 700;
	font-size: 1.25rem;
	margin-bottom: 20px;
	text-transform: uppercase;
}

h2, .h2 {
	font-weight: 400;
	padding-top: 5px;
	font-size: 1.1rem;
	margin: 0 0 0.75rem 0;
	text-transform: uppercase;
}

h3, .h3 {
	font-weight: 700;
	font-size: $font-size-base;
	margin: 0 0 1rem 0;
	text-transform: uppercase;
}

h4, .h4 {
	font-weight: 700;
	margin: 0 0 0.5rem 0;
	font-size: $font-size-base;
}

h5, .h5 {
	font-weight: 400;
	font-size: $font-size-base;
	text-transform: uppercase;
	margin: 0 0 10px 0;
}

h6, .h6 {
	margin: 0 0 0.5rem 0;
	font-size: $font-size-base;;
}

p {
	margin: 0 0 0.75rem 0;
}

a {
	color: $color-link;
	text-decoration: $link-decoration;

	&:hover {
		text-decoration: $link-hover-decoration;
	}
}