.topnav {
	z-index: 999;
	position: relative;
	@include gradient-vertical(#fbfbfb, #e6e6e7);

	&__header {
		padding: 7px 0;
		@include clearfix();

		span {
			float: left;
			font-size: 16px;
			font-weight: 400;
			line-height: 28px;
			color: #1f2224;
			display: inline-block;
			text-transform: uppercase;
		}

		.nav-toggle {
			width: 26px;
			float: right;
			font-size: 0;
			line-height: 0;
			padding: 6px 0;
			margin-top: 1px;
			position: relative;
			display: inline-block;

			span {
				width: 100%;
				height: 2px;
				margin-bottom: 5px;
				position: relative;
				display: inline-block;
				background: #1f2224;
				@include transition(.3s);

				&:last-child {
					margin-bottom: 0;
				}
			}
		}

		&.open {

			.nav-toggle {

				span {
					@include transition(.3s);

					&:nth-child(1) {
						top: 6px;
						@include rotate(45deg);
					}

					&:nth-child(2) {
						display: none;
					}

					&:nth-child(3) {
						top: -1px;
						@include rotate(-45deg);
					}
				}
			}
		}
	}

	&__nav {
		left: 0;
		right: 0;
		top: 100%;
		margin: 0;
		padding: 0;
		display: none;
		list-style: none;
		position: absolute;
		border-top: 1px solid #C2C2C2;
		@include clearfix();

		> li {
			@include gradient-vertical(#fbfbfb, #e6e6e7);

			> a {
				width: 100%;
				color: #363c40;
				font-size: 14px;
				font-weight: 700;
				line-height: 20px;
				padding: 10px 15px;
				display: inline-block;
				text-decoration: none;
				text-shadow: 1px 1px 1px #fff;

				&:hover {
					color: $color-blue;
				}
			}
		}

		&.open {
			display: block;
		}
	}

	@media (min-width: $screen-md-min) {

		&__header {
			display: none;
		}

		&__nav {
			top: auto;
			left: auto;
			bottom: auto;
			width: 100%;
			display: block;
			margin: 0 -10px;
			position: relative;

			> li {
				float: left;

				> a  {
					text-align: center;
					padding: 10px 10px;
				}
			}

			&.open {
			}
		}
	}

	@media (min-width: $screen-lg-min) {

		&__nav {

			> li {
				float: left;
				margin-right: 20px;
			}
		}
	}

	@media (min-width: $screen-xl-min) {

	}
}

