$body-bg:                       #fff;
$color-blue:                    #48afe2;

// Fonts

$font-size-base:                0.875rem !default;
$font-size-lg:                  ($font-size-base * 1.25) !default;
$font-size-sm:                  ($font-size-base * .875) !default;

$font-weight-base:              400 !default;
$line-height-base:              1.5 !default;



$font-base:                     Helvetica, Arial, sans-serif !default;
$font-head:                     $font-base;

$spacer:                        1rem !default;
$headings-margin-bottom:        ($spacer / 2) !default;
$headings-line-height:          1.2 !default;

$color-base:                    #454545;
$color-link:                    $color-blue !default;

$link-decoration:              underline!default;
$link-hover-decoration:        none!default;



	// layout

$container-sm:                  560px !default;
$container-md:                  750px !default;
$container-lg:                  970px !default;
$container-xl:                  1100px !default;


$gutter:                        30px !default;



$screen-xs-min:                 0;
$screen-sm-min:                 576px !default;
$screen-md-min:                 768px !default;
$screen-lg-min:                 992px !default;
$screen-xl-min:                 1130px !default;


$screen-xs-max:              ($screen-sm-min - 1) !default;
$screen-sm-max:              ($screen-md-min - 1) !default;
$screen-md-max:              ($screen-lg-min - 1) !default;
$screen-md-max:              ($screen-xl-min - 1) !default;
