
.breadcrumb {
	padding: 0;
	font-size: 0;
	line-height: 0;
	list-style: none;
	margin: 0 0 20px 0;

	> li {
		font-size: $font-size-base;
		line-height: 20px;
		display: inline-block;

		&:after {
			content: '>';
			padding: 0 5px;
		}

		&:last-child {

			&:after {
				display: none;
			}
		}

		> a {

		}
	}
}