
.btn {
	color: #fff;
	border: none;
	cursor: pointer;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	padding: 8px 20px;

	outline: none;
	user-select: none;
	text-align: center;
	white-space: nowrap;
	display: inline-block;
	vertical-align: middle;
	@include gradient-vertical(#f59028,#cc5217);

	@include border-radius(3px);
	@include transition(.2s);

	&:hover {
		color: #fff;
		@include gradient-vertical(#f59028,#f59028);
	}

	&:focus,
	&.focus {
		outline: 0;
	}
}