.form-control {
	margin: 0;
	width: 100%;
	color: #222;
	outline: none;
	line-height: 20px;
	padding: 7px 14px;
	background: #ffffff;
	display: inline-block;
	border: 1px solid #d9d9d9;
	@include placeholder(#222);

	&::-ms-clear {
		display: none;
		width: 0;
		height: 0;
	}

	&:focus {
		@include placeholder(transparent);
	}

	&.error {
		border-color: red;
	}
}

label {
	font-weight: 400;
	display: block;
}

.form-label {
	font-weight: 400;
	margin-bottom: 5px;
}

.form-group {
	margin-bottom: 10px;
}


.form-row {
	margin: 0 -10px;
	@include clearfix();

	.form-col {
		width: 50%;
		float: left;
		padding: 0 10px;
	}

	.form-col-2 {
		padding: 0 10px;
	}

	.form-col-3 {
		padding: 0 10px;
	}

	@media (min-width: $screen-md-min) {


		.form-col-2 {
			float: left;
			width: 50%;
		}

		.form-col-3 {
			float: left;
			width: 33.33%;
		}
	}
}


.myCheckbox {
	cursor: pointer;
	line-height: 20px;
	display: inline-block;

	&__input {
		display: none;
	}

	&__label {
		padding-left: 22px;
		position: relative;
		line-height: 20px;
		display: inline-block;


		&:before {
			top: 1px;
			left: 0;
			z-index: 1;
			content: '';
			width: 16px;
			height: 16px;
			position: absolute;
			border: 2px solid $color-blue;
			@include border-radius(3px);
		}

		&:after {
			top: 5px;
			left: 4px;
			z-index: 1;
			content: '';
			width: 8px;
			height: 8px;
			position: absolute;
			visibility: hidden;
			background: $color-blue;
			@include border-radius(2px);
			opacity: 0;
		}
	}


	.myCheckbox__input:checked + .myCheckbox__label::after {
		visibility: visible;
		opacity: 1;
	}
}

.myRadio {
	cursor: pointer;
	line-height: 20px;
	display: inline-block;

	&__input {
		display: none;
	}

	&__label {
		padding-left: 22px;
		position: relative;
		line-height: 20px;
		display: inline-block;

		&:before {
			top: 1px;
			left: 0;
			z-index: 1;
			content: '';
			width: 16px;
			height: 16px;
			position: absolute;
			border: 2px solid $color-blue;
			@include border-radius(50%);
		}

		&:after {
			top: 6px;
			left: 5px;
			z-index: 1;
			content: '';
			width: 6px;
			height: 6px;
			position: absolute;
			visibility: hidden;
			background: $color-blue;
			@include border-radius(50%);
			opacity: 0;
		}
	}


	.myRadio__input:checked + .myRadio__label::after {
		visibility: visible;
		opacity: 1;
	}
}

.form__blockSM {

	@media (min-width: $screen-md-min) {
		width: 50%;
	}
}