.table {
	width: 100%;
	margin-bottom: 15px;
	border-collapse: collapse;

	tr {
		&:hover {
			background: #eee;
		}
	}

	th {
		padding: 10px 8px;
		background: #eee;
		font-weight: 700;
		font-size: 0.75rem;
	}

	td {
		font-size: 0.75rem;
		padding: 10px 8px;
		border-bottom: solid 1px #ddd;
	}
}

@media (max-width: $screen-xs-max) {

	.table-responsive {
		width: 100%;
		overflow-y: hidden;
		overflow-x: scroll;
		margin-bottom: 15px;
		border: 1px solid #ddd;
		-ms-overflow-style: -ms-autohiding-scrollbar;

		.table {
			margin-bottom: 0;
		}
	}
}